<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie add</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
      </figure>
    <h1 class="titulo">Agregar Película</h1>
    <br>
    <section class="formulario">
        <form action="/movies/create" method="POST">

            <label for="title">Title </label>
            <p><input type="text" name="title" id="" value = <%= locals.old && old.title %>> <% if (locals.errors && errors.title) { %>
                <small style="color: rgb(210, 33, 33); display: block; margin-bottom: 10px;"> <%= errors.title.msg %></small>
             
            <% } %>
        </p>


            <label for="rating">Rating </label>
            <p><input type="number" name="rating" id="" value = <%= locals.old && old.rating %>> 
                <% if (locals.errors && errors.rating) { %>
                    <small style="color: rgb(210, 33, 33); display: block; margin-bottom: 10px;"> <%= errors.rating.msg %></small>
                 
                <% } %></p>


            <label for="awards">Awards </label>
            <p><input type="number" name="awards" id="" value = <%= locals.old && old.awards %>>
                <% if (locals.errors && errors.awards) { %>
                    <small style="color: rgb(210, 33, 33); display: block; margin-bottom: 10px;"> <%= errors.awards.msg %></small>
                 
                <% } %>
            </p>


            <label for="release_date">Release date </label>
            <p><input type="date" name="release_date" id="" value="<%= locals.old && old.release_date %>" >
                <% if (locals.errors && errors.release_date) { %>
                    <small style="color: rgb(210, 33, 33); display: block; margin-bottom: 10px;"> <%= errors.release_date.msg %></small>
                 
                <% } %>
            </p>


            <label for="length">Length </label>
            <p><input type="number" name="length" id="" value = <%= locals.old && old.length %>>
                <% if (locals.errors && errors.length) { %>
                    <small style="color: rgb(210, 33, 33); display: block; margin-bottom: 10px;"> <%= errors.length.msg %></small>
                 
                <% } %>
            </p>
            <label for="genreID">Genre </label>
            <p>
                <select name="genre_id" id="">
                    <% if ( locals.old && old.genre_id) { %>
                        <option value="<%= old.genre_id %>"  selected>
                            <% genres.find(genre => { %>
                              <%= old.genre_id == genre.id ? genre.name : "" %> 
                            <% }) %>
                        </option>

                        <% genres.forEach(genre => { %>
                            <option value="<%= genre.id %>"><%= genre.name %></option>
                            <% }); %>
                            
                    <% }else{  %>
                    <option value="" disabled selected>- select genre - </option>
                    <% genres.forEach(genre => { %>
                    <option value="<%= genre.id %>"><%= genre.name %></option>
                    <% }); %>
                    <% } %>
                </select>
                <% if (locals.errors && errors.genre_id) { %>
                    <small style="color: rgb(210, 33, 33); display: block; margin-bottom: 10px;"> <%= errors.genre_id.msg %></small>
                 
                <% } %>
            </p>
            <div class="col-12 col-md-3">
                <div>
                 <label for="formFile" class="form-label">Agregar Imágen</label>
                 <input class="form-control" type="file" id="formFile" name="image">
                </div>
                </div>
             </div>
     </section>
 
     <div class="mb-3 col-12" style="margin-top:50px ;">
         <div class="row">
                 <% actors.forEach(actor => { %>
             <div class="col-12 col-md-3">
                 <div class="form-check">
                     <input name="actors" class="form-check-input" type="checkbox" value="<%= actor.id %>" id="actor<%= actor.id %>">
                     <label class="form-check-label" for="actor<%= actor.id %> ">
                      <%= actor.first_name %><%= actor.last_name %>
                     </label>
                 </div>
             </div>
                 <% }) %>
         </div>
     </div>
            <br>
            <p> <button class="botonAgregar" type="submit">Agregar</button>
            
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
        </form>
    </section>
    
</body>

</html>